{% extends 'base.html' %}


{% block content %}
    <h2>Pricing Configuration</h2>
    <ul>
        {% for config in configs %}
        <li>
            <a href="{% url 'pricing_tier' config.id %}">{{ config.name }}</a>
            {% if config.enabled %}
                <span>Enabled</span>
            {% else %}
                <span>Disabled</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>

    <a href="{% url 'pricing_config' %}">Add New Configuration</a>



{% endblock %}